<h2>All Results</h2>
<h3>Squadrons</h3>
<ul>
  <% @squadrons.each do |squadron| %>
    <li>
      <%= link_to squadron.name, squadron %>
    </li>
  <% end %>
</ul>
<h3>Planets</h3>
<ul>
  <% @planets.each do |planet| %>
    <li>
      <%= link_to planet.name, planet %>
    </li>
  <% end %>
</ul>
<h3>Soldiers</h3>
<ul>
  <% @soldiers.each do |soldier| %>
    <li>
      <%= link_to soldier.name, soldier %>
    </li>
  <% end %>
</ul>