<h2><%= @soldier.name %></h2>

<h3>Age: <%= @soldier.age %></h3>

<h3>Planets this soldier has been previously assigned to:</h3>
<ul>
  <% @planets.each do |planet| %>
    <li>
      <%= link_to planet.name, planet %>
    </li>
  <% end %>
</ul>