<h2><%= @squadron.name %> Squadron</h2>

<h3>Soldiers currently serving under this squadron:</h3>

<ul>
  <% @soldiers.each do |soldier| %>
    <li>
      <%= link_to soldier.name, soldier %>
    </li>
  <% end %>
</ul>