<h2>Select a category that you wish to view.</h2>
<nav>
    <ul>
        <li><%= link_to 'All Results', all_results_path %></li>
        <li><%= link_to 'Squadrons', about_path %></li>
        <li><%= link_to 'Planets', rebels_path %></li>
        <li><%= link_to 'Soldiers', rebels_path %></li>
    </ul>
</nav>